SAMSUNG/Library
SAMSUNG/Logs
SAMSUNG/TestBuild 
SAMSUNG/obj/Debug
SteamVR_Actions.csproj
SteamVR_Editor.csproj
SteamVR_Input_Editor.csproj
SteamVR_Windows_EditorHelper.csproj
SteamVR.csproj
Assets/Foundation/Steam/SteamVR_Resources/Resources/SteamVR_Settings.asset
Assets/Foundation/Steam/SteamVR_Resources/Resources/SteamVR_Settings.asset.meta
/
Temp/UnityLockfile

*.csproj
*.cache
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe12.log
Logs/shadercompiler-UnityShaderCompiler.exe13.log
Logs/shadercompiler-UnityShaderCompiler.exe14.log
Logs/shadercompiler-UnityShaderCompiler.exe15.log
/TestBuild
